@mixin clearFix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin visually-hidden{
    border-width: 0 !important;
    clip: rect(1px,1px,1px,1px,) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
}